{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.body{
    background: black;
}
.container{
    width: auto;
    margin: 20px;
    color: black;
}
.cace-body{
    width: 275px;
    margin: auto;
    min-height: 400px;
    border: solid black 1px;
    box-shadow: rgb(2, 2, 14) 0 8px 15px-7px;
}
.calc-screen{
    background: chocolate;
    width: 100%;
    height: 150px;
    padding: 20px;
}
.calc-operation{
    text-align: right;
    color:crimson;
    font-size: 21px;
    padding-bottom: dotted 1px;
}
.calc-typed{
    margin-top: 20px;
    font-size: 45px;
    text-align: right;
    color: blue;
}
.calc-button-row{
    width: 100%;
    background: red;
}
.button{
    width: 25%;
    background: red;
    color: seagreen;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin-right: -4px;
    border-right: solid 2px black;
    transition: all 0.2s ease-in-out;
}
.button.i{
    color: blueviolet;
    background: burlywood;
}
.button.c{
    color: cornflowerblue;
    background: cornsilk;
}
.button:hover{
    background: cornsilk;
    transform: rotate(5deg);
}
.button.c:hover{
    color: crimson;
    background: darkgray;
}
.button.i:hover{
    color: darkred;
    background: darkslategrey;
}
.blink-me{
    color: firebrick;
}
html{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
    background-image: linear-gradient(315deg,#2d3436 0%,#000000 74%);
    font-family: '2p',cursive;
}
.title:hover{
    color: crimson;
    background: darkgray;
}
.title{
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: darkred;
    font-family: '2p'cursive;
}
input[type=button]{
    width: 60px;
    height:60px ;
    float: left;
    padding: 0%;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700px;
    color: darkred;
    cursor: pointer;
}
input[type=text]{
    width: 270px;
    height:60px ;
    float: left;
    padding:0% ;
    margin: 5px;
    box-sizing: border-box;
    border: none;
    background: none;
    text-align: right;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    border-radius: 50%;
    font-weight: 700px;
    color: darkred;
    cursor: pointer;
}
.calculator{
    background-color: cornsilk;
    box-shadow: 0px 0px 0 px 10 px #666;
    border: 5px solid black;
    border-radius: 10px;
}